*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#wrapper{
    position: relative;
    height: 1650px;
    width: 1900px;
    background-color: #98b2d1;
}
#navbar{
    width: 100%;
    height: 220px;
    z-index: 10;
}
.nav-inform{
 width: 100%;
 height: 40px;
 background-color: #ffffff;
}
.nav-menu{
 width: 100%;
 height: 180px;
 background-color: #484a4b;
}
#page1{
    padding-top: 1px;
    position: relative;
    height: 1350px;
    width: 1300px;
    margin: -45px  auto 0 auto;
    background-color: #ffffff;
}
.page-name{
    width: 100%;
    height: 65px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #ffffff;
    background-color: #5c5e5f;
}
.page-name>p{
   font: 24px Arial sant-serif;
   padding-top: 20px;
   margin-left: 25px;
}
.search-layer{
    height: 377px;
}
.search-layer>p{
    font-size: 18px;
    margin-left: 25px;
    padding-top: 23px;
}
.separator{
    height: 3px;
    width: 1250px;
    margin: 0 auto;
    background-color: #484a4b;
}
.all-buttons{
    display: block;
    height: 300px;
    width: 1200px;
    margin: 30px auto 0 auto;

}
.button-text1{
    width: 178px;
    float: left;
    margin-right: 70px;
    margin-bottom: 40px;
    font-size: 20px;

}
.button-text1:nth-child(5){
    margin-right: 0;
}
.button-text1 form{
    width: 178px;
    height: 40px;

}
.button-text1 input{
    width: 100%;
    height: 100%;
    font-size: 20px;

}
.button-text1 button{
    width: 100%;
    height: 100%;
    font-size: 20px;

}
.invisible-border{
    display: none;
    position: absolute;
    height: 200px;
    width: 750px;
    border: 1px solid #bbd1ec;
    top: 130px;
    left: 500px;
    z-index: 0;
}

.inform-tables{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 25px;
}
.total-sending{
    height: 40px;
    width: 100%;
    padding-bottom: 1px;
}
.total{
    height: 35px;
    float: left;
    margin-top: 20px;
}
.report-total{
    width: 400px;
    height: 100%;
    border: 1px solid #bbd1ec;
    color: #98b2d1;
}
.page-total{
    margin-left: 5px;
    width: 470px;
    height: 100%;
    border: 1px solid #bbd1ec;
    color: #98b2d1;
}
.total p{
    font-size: 20px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}
.records-per-page{
    height: 100%;
    width: 240px;
    margin-left: 120px;
}

.records-per-page>form{
    height: 100%;
    width: 75px;
    margin-left: 7px;
    float: left;
}
.records-per-page input{
    font-size: 20px;
    padding-left: 3px;
    width: 100%;
    height: 100%;
    background-image: url("sprite.gif");
    background-position: 50px -5px;
    outline: none;
    background-repeat: no-repeat;


}

.icon{
    background-image: url("sprite.gif");
    background-position: 150px -5px;
    background-repeat: no-repeat;

}
.icon-white{
    width: 20px;
    height: 18px;
    margin: -3px auto 0 auto;
    padding: 0;
    background-image: url("sprite.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
}

/*  -------------- table ---------*/
.table-main{

    width: 100%;
    font-size: 18px;
    margin-top: 30px;
}
.table-main>table{
    width: 100%;
}
.table-main>table thead{
    text-align: left;
    background-color: #e8e8e8;
    cursor: pointer;

}
.table-main>table thead th{
    padding-left: 5px;
}
.table-main>table>tbody td{

    padding-left: 5px;
}
.table-main>table tr{
    height: 60px;

}
.table-main>table>tbody tr:nth-child(even){
    background-color: #f3f3f3;
}